<!--会員情報編集画面-->

<%= render 'public/header' %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <h5>会員編集</h5>
    </div>

    <div>
      <%= form_with model:  @customer, url:customer_path, method: :patch do |f| %>
        <div class="row mb-2">
          <div class="col-md-4">
             <label>商品画像</label>
          </div>
          <div class="col-md-4">
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <label>氏名</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :last_name, style: "width:150px" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :first_name, style: "width:150px" %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <label>カナ</label>
          </div>
          <div class="col-md-4">
              <%= f.text_field :last_name_kana, style: "width:150px" %>
          </div>
          <div class="col-md-4">
              <%= f.text_field :first_name_kana, style: "width:150px" %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <label>性別</label>
          </div>
          <div class="col-md-4">
            <%= f.radio_button :sex, "man" %>
            <%= f.label :sex, "男性" %>

            <%= f.radio_button :sex, "woman" %>
            <%= f.label :sex, "女性" %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <%= f.label :year_birth, '生年月日' %>
          </div>
          <div class="col-md-6">
            <%= f.date_select :year_birth,start_year: 1930, end_year: (Time.now.year - 15), default: Date.new(1989, 1, 1) %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <label>年齢</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :age, style: "width:50px" %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4">
             <label>郵便番号</br>(ハイフンなし)</label>
          </div>
          <div class="col-md-5 mb-4">
            <%= f.text_field :postal_code, style: "width:200px" %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <label>住所</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :address, style: "width:400px" %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4">
            <label>電話</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :telephone_number, style: "width:200px" %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <label>メールアドレス</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :email, style: "width:400px" %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-9 offset-md-3">
            <%= f.submit '変更を保存', class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'public/footer' %>
