<%= render 'public/header' %>

<h5>会員詳細</h5>

<!--画像-->
<%= image_tag current_customer.get_profile_image(200, 200, "Center") %><br/>

<lable>氏名</lable><br/>
<%= current_customer.last_name %><%= current_customer.first_name %><br/>

<lable>カナ</lable><br/>
<%= current_customer.last_name_kana %><%= current_customer.first_name_kana %><br/>

<lable>性別</lable><br/>
<%= current_customer.sex_i18n %><br/>

<lable>生年月日</lable><br/>
<%= current_customer.year_birth %><br/>

<lable>年齢</lable><br/>
<%= current_customer.age %><br/>

<lable>郵便番号</lable><br/>
<%= current_customer.postal_code %><br/>

<lable>住所</lable><br/>
<%= current_customer.address %><br/>

<lable>電話番号</lable><br/>
<%= current_customer.telephone_number %><br/>

<lable>メールアドレス</lable><br/>
<%= current_customer.email %><br/>

<%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-success" %>

<%= render 'public/footer' %>
