<!--会員情報編集画面-->
<%= render 'admin/header' %>

<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
    </div>
    <div class="mt-4">
      <%= form_with model: @customer, url:admin_customer_path, method: :patch do |f| %>
        <div class="row">
          <div class="col-md-4">
            <label>氏名</label>
          </div>
          <div class="col-md-4" >
            <%= f.text_field :last_name, style: "width:150px" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :first_name, style: "width:150px" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>フリガナ</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :last_name_kana, style: "width:150px" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :first_name_kana, style: "width:150px" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>性別</label>
          </div>
          <div class="col-md-8">
              <%= f.radio_button :sex, "man" %>
              <%= f.label :sex, "男性" %>
              <%= f.radio_button :sex, "woman" %>
              <%= f.label :sex, "女性" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.label :year_birth, '生年月日' %>
          </div>
          <div class="col-md-8">
            <%= f.date_select :year_birth,start_year: 1930, end_year: (Time.now.year - 15), default: Date.new(1989, 1, 1) %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>年齢</label>
          </div>
          <div class="col-md-8">
            <%= f.text_field :age, style: "width:50px" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>郵便番号</label>
          </div>
          <div class="col-md-8">
            <%= f.text_field :postal_code, style: "width:200px" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>住所</label>
          </div>
          <div class="col-md-8">
            <%= f.text_field :address, style: "width:400px" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>電話番号</label>
          </div>
          <div class="col-md-8">
            <%= f.text_field :telephone_number, style: "width:200px" %>
          </div>
        </div>

         <div class="row">
          <div class="col-md-4">
            <label>メールアドレス</label>
          </div>
          <div class="col-md-8">
            <%= f.text_field :email, style: "width:400px" %>
          </div>
        </div>

         <div class="row">
          <div class="col-md-4">
            <label>会員ステータス</label>
          </div>
          <div class="col-md-8">
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted_false, "有効" %>

            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted_true, "退会" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.submit '変更を保存', class: "btn btn-success" %>
          </div>
          <div class="col-md-6">
            <%= link_to "退会する",admin_unsubscribe_path(@customer.id), class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'admin/footer' %>
