<%= render 'public/header' %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <h5>トレーニングメニュー検索</h5>
      <div class="row">
        <div class="col-md-2">
          <div class="border border-dark">
            <p class="border-bottom border-dark">ジャンル検索</p>
            <div>
              <% @genres.each do |genre|%>
                <%= link_to genre.name, genres_path(genre: genre.id, search: "search") %></br>
              <% end %>
            </div>
          </div>
        </div>
        <% if params[:search] %>
        <div class="col-md-10">
          <h5><%= @genre.name %>のメニュー一覧</h5>
            <% @genre.menus.each do |menu| %>
              <div class="col-md-4">
                <%= link_to menu_path(menu.id) do %>
                  <%= menu.name %>
                <% end %>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'public/footer' %>
