<%= render 'admin/header' %>

<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-3">
        <div class="col-md-5">
          <h4>トレーニングメニュー一覧</h4>
        </div>
        <div class="col-md-2 offset-md-5">
          <div>
           <%= link_to '新規登録', new_admin_menu_path, class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <table class="table table-hover table-inverse">
        <thead class="table-secondary">
          <tr>
            <th>ジャンル名</th>
            <th>トレーニングメニュー名</th>
          </tr>
        </thead>
        <tbody>

            <tr>
              <td><%= @genre.name %></td>
              <% @genre.menus.each do |menu| %>
              <td>
                <%= link_to admin_menu_path(menu.id) do %>
                  <%= menu.name %>
                <% end %>
              </td>
              <% end %>
            </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'admin/footer' %>
