<!--トレーニングメニュー詳細画面-->
<%= render 'admin/header' %>

<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-3">
        <h5>トレーニングメニュー詳細</h5>
      </div>
      <div class="row">
        <div class="col-2">
          <label>ジャンル名</label>
        </div>
        <div class="col-5 pl-0">
          <%= @menu.genre.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label>メニュー名</label>
        </div>
        <div class="col-8 pl-0">
          <%= @menu.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label>説明</label>
        </div>
        <div class="col-10 pl-0">
          <%=simple_format(@menu.explanation)%>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-2">
          <%= link_to '編集する', edit_admin_menu_path(@menu.id), class: "btn btn-success" %>
        </div>
        <div class="col-10">
          <%= link_to 'メニュー一覧', admin_index_path(@menu.genre.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'admin/footer' %>
